<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#fj">
      <img class="image-icon" src="../../../../assets/icon-2.svg" alt="icon"> 
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars" style="color: whitesmoke;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 px-md-5">
        <li class="nav-item">
          <a class="nav-link" href="#about"><span class="far fa-address-card"></span>&nbsp;&nbsp;Sobre Mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education"><span class="fas fa-pen-nib"></span>&nbsp;&nbsp;Formacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#project"><span class="fas fa-wrench"></span>&nbsp;&nbsp;Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience"><span class="fas fa-door-open"></span>&nbsp;&nbsp;Otras Experiencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact"><span class="fas fa-phone"></span>&nbsp;&nbsp;Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>