@import '../../../app.component.scss';

.navbar{
    background: rgba($darkGray, .8);
    padding: 10px 0;
    height: 100%;


    .image-icon{
        width: 50px;
    }

    .navbar-toggler{
        box-shadow: none;

        .navbar-toggler-icon{
            
        }
    }

    .navbar-collapse{
        margin-top: auto;
        margin-bottom: 0px;

        .navbar-nav{
            margin-top: auto;
            width: 100%;
            justify-content: end;
            gap: 20px;

            .nav-link{
                color: $gray !important;
                font-size: 18px;
                border-bottom: 1px solid transparent;

                &:hover{
                    color: white !important;
                    border-bottom: 1px solid $orange;
                }
            }             
        }
    }


  
}