<div class="container-pe">
    <h3 class="title">
        Formación Académica
    </h3>

    <div class="formation primary">
        <h6 class="concept">
            Técnico de Nivel Superior en Análisis y Programación Computacional
        </h6>
        <div class="detail">Instituto IACC, <span class="date">2021 - 2023</span></div>
    </div>

    <h3 class="title mt-5">
        Formación Complementaria
    </h3>

    <div class="group-formation">
        <div class="formation dwf">
            <h6 class="concept ">
                Desarrollo Web FullStack
            </h6>
            <div class="detail">Udemy, <span class="instructor">Juan de la Torre</span>&nbsp;<span class="date">(2021)</span></div>
        </div>    
        <div class="formation adc">
            <h6 class="concept">
                Angular desde Cero
            </h6>
            <div class="detail">Udemy, <span class="instructor">Leifer Méndez</span>&nbsp;<span class="date">(2022)</span></div>
        </div>
        <div class="formation adgp">
            <h6 class="concept">
                Análisis de Datos y Gráficos con Python
            </h6>
            <div class="detail">Udemy, <span class="instructor">Álvaro Chirou</span>&nbsp;<span class="date">(2023)</span></div>
        </div>
    </div>
</div>