<div class="container-navs">

  <header id="fj" class="home">
    <app-page-home></app-page-home>
  </header>

  <nav class="items"> 
    <app-nav></app-nav>
  </nav>

  <section id="about" class="about">
    <app-page-about></app-page-about>
  </section>

  <section id="education" class="education">
    <app-page-education></app-page-education>
  </section>

  <section id="project" class="project">
    <app-page-projects></app-page-projects>
  </section>

  <section id="experience" class="experience">
    <app-page-experience></app-page-experience>
  </section>

  <section id="contact" class="contact">
    <app-page-contact></app-page-contact>
  </section> 

</div>

