@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$fontPrincipal: 'Poppins', sans-serif;
$titleFont: 'Oswald', sans-serif;

$orange: #E08709;
$darkGray: #1a1a1a;
$gray: #DCD7C9;
$red: #ff4136;

/*--------------------- MEDIAS QUERIES ---------------------*/
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

@mixin phone {
    @media (max-width: #{$medium}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$medium}) {
        @content;
    }
}
@mixin notebook {
    @media (min-width: #{$large}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$x-large}) {
        @content;
    }
}
@mixin xx-desktop {
    @media (min-width: #{$xx-large}) {
        @content;
    }
}

.container-navs{

    .items{
        position: sticky;
        top: 0;
        background: #1a1a1a;
        z-index: 5;
    }


    .home{
        position: relative;
        width: 100%;
        height: calc(100vh - 69px);
        background-image: url('../assets/background-2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .about{
        background: #fff;
        min-height: 100vh;
    }
    z-index: 1;

    .education{
        background: #5e5e5e;
        height: 100vh;
        z-index: 1;
    }

    .project{
        background: #fff;
        min-height: 100vh;
        z-index: 0;
    }

    .experience{
        background: #5073bd;
        height: 100vh;
        z-index: 1;
    }

    .contact{
        background: #dfdfdf;
        min-height: 100vh;
        z-index: 1;
    }

    
}




.navbar{
    background: rgba($darkGray, .8);
    padding: 0;
    height: 100%;

    .image-icon{
        width: 100px;
    }

    .navbar-collapse{
        margin-top: auto;
        margin-bottom: 0px;

        .navbar-nav{
            margin-top: auto;
            width: 100%;
            justify-content: space-between;

            .nav-link{
                color: whitesmoke !important;
                font-size: 20px;

                &:hover{
                    color: $orange !important;
                }
            }             
        }
    }  
}

.button-primary{
    font-size: 18px;
    align-self: center;
    margin: 10px 0;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: $orange;
    font-family: $fontPrincipal;
    color: white;
    transition: ease .5s;

    &:hover{
        box-shadow: 0px 0px 2px 2px $orange;
        background: transparent;
        transform: scale(1.03);
    }
}
