@import '../../../app.component.scss';

.container-pa{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $fontPrincipal;
    color: lighten($darkGray, 20);

    .title{
        font-family: $titleFont;
        font-size: 42px;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 2px solid $orange;
        padding-right: 20px;
        padding-left: 3px;
        margin-bottom: 50px;
    }

    .text{
        text-align: center;
        width: 60%;
        font-size: 22px;

        @include phone{
            width: 80%;
            font-size: 18px;
        }
    }
}