<div class="container-pa">
    <h3 class="title">
        Perfil
    </h3>

    <div class="texts">
        <p class="profile">
            Soy Felipe Jara, tengo 26 años y soy Analista y Programador de Sistemas.<br>
            Las capacidades desarrolladas en mí formación me permiten el desempeño en el análisis de situaciones que demandan automatizar procesos de información, ofreciendo soluciones informáticas a través del diseño y programación de Software.
        </p>

        <div class="experience">
            <h5 class="title-experience">
                Experiencias
            </h5>

            <p class="text">
                En la vida laboral he trabajado en distintas partes que me han constribuido al desarrollo de mi formación en el trabajo. <br>
                Trabajé de <span class="underline">garzón</span> en el restaurant <span class="italic">Entre Amiguitos</span> en Villarrica, al igual como de <span class="underline">chófer</span> para <span class="italic">CargoEx</span>, <span class="italic">Helados Madel</span>, de forma <span class="italic">particular</span> y <span class="italic">Uber</span>. Todos estos <span class="underline">trabajos</span> me han enseñado el <span class="important">trabajo en equipo</span>, la <span class="important">responsabilidad</span>, la <span class="important">atención al cliente</span>, el <span class="important">manejo de los tiempos</span> y entre muchas otras cosas.
            </p>
        </div>
    </div>

</div>