<div class="container-home">

    <div class="profile">
        <h1 class="person-name">Felipe Jara Aguilar</h1>

        <span class="line"></span>

        <h4 class="title-degree">Analista y Programador de Sistemas</h4>
        
    </div>


    <div class="information">
        <button class="button-primary" (click)="sendStatusShowCV()" >Ver Currículum Vitae</button> <!-- data-bs-toggle="modal" data-bs-target="#cvModal" -->

        <div class="contact-info">
            <div class="group-info">
                <i class="fa-solid fa-at"></i>
                <span>fjara9613@gmail.com</span>
            </div>
            <div class="group-info">
                <i class="fa-solid fa-phone"></i>
                <span>+56 963250696</span>
            </div>
        </div>

        <div class="icons-profile">
            <i class="fa-solid fa-users"></i>
            <i class="fa-solid fa-computer"></i>
            <i class="fa-solid fa-gears"></i>
            <i class="fa-solid fa-coins"></i>
        </div>
    </div>
</div>
  
<!-- Modal -->
<div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="cvModalLabel">Currículum Vitae</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe class="cv-view" src="../../../../assets/docs/CV.pdf" frameborder="0"></iframe>
                <!-- <embed class="cv-view" src="../../../../assets/docs/CV.pdf" type="application/pdf">  -->
            </div>
            <div class="modal-footer">
                <button type="button" class="button-primary" data-bs-dismiss="modal">Cerrar CV</button>
            </div>
        </div>
    </div>
</div>