<div class="container-home">

    <div class="profile">
        <h1 class="person-name">Felipe Jara Aguilar</h1>

        <span class="line"></span>

        <h4 class="title-degree">Analista y Programador de Sistemas</h4>
        
    </div>

    <div class="information">
        <div class="contact-info">
            <div class="group-info">
                <i class="fa-solid fa-at"></i>
                <span>fjara9613@gmail.com</span>
            </div>
            <div class="group-info">
                <i class="fa-solid fa-phone"></i>
                <span>+56 963250696</span>
            </div>
        </div>

        <div class="icons-profile">
            <i class="fa-solid fa-users"></i>
            <i class="fa-solid fa-computer"></i>
            <i class="fa-solid fa-gears"></i>
            <i class="fa-solid fa-coins"></i>
        </div>
    </div>
</div>