@import '../../../app.component.scss';

.container-cv{
    background: rgba(#000000, 70%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cv{
        .cv-view{
            width: 90vw;
            height: 80vh;
            border-radius: 10px;
            box-shadow: 2px 2px 4px 4px rgba(#fff, .3);
        }

    }

    .button-primary{
        margin-top: 10px;
        padding: 5px 50px !important;

        &:hover{
            background: rgba($orange, 0.8) !important;
            box-shadow: unset !important;
        }

    }
}